testobd2.json
[{"id":"1a1c2d1e.96a803","type":"mqtt in","z":"be17a669.01aad","name":"obd2","topic":"cardata","qos":"1","broker":"4e8dfa32.1e76a4","x":130,"y":220,"wires":[["228f071a.b54f98"]]},{"id":"9fe8a831.09fc4","type":"debug","z":"be17a669.01aad","name":"show cardata","active":true,"console":"false","complete":"payload","x":540,"y":40,"wires":[]},{"id":"228f071a.b54f98","type":"json","z":"be17a669.01aad","name":"","pretty":false,"x":290,"y":220,"wires":[["e61ed8bf.c73f4","cd3885cd.8e94a8","d078928.4fd2d7","f0b2012.6ab058","19590d2c.69e2c3","bb1f453f.cdd62","9fe8a831.09fc4"]]},{"id":"247b20f4.cafc58","type":"ui_gauge","z":"be17a669.01aad","name":"RPM","group":"aba098bc.8827d","order":1,"width":"5","height":"4","gtype":"gage","title":"RPM","label":"","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":120,"wires":[]},{"id":"e61ed8bf.c73f4","type":"change","z":"be17a669.01aad","name":"getRPM","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.RPM","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":120,"wires":[["247b20f4.cafc58","5451ee4c.dce1e"]]},{"id":"cd3885cd.8e94a8","type":"change","z":"be17a669.01aad","name":"getSpeed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.SPEED","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["bd3d9033.751ce8","2f0f4adb.a2f106"]]},{"id":"bd3d9033.751ce8","type":"ui_gauge","z":"be17a669.01aad","name":"Speed","group":"aba098bc.8827d","order":2,"width":"5","height":"4","gtype":"gage","title":"Speed","label":"kmh","format":"{{value}}","min":0,"max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"d078928.4fd2d7","type":"change","z":"be17a669.01aad","name":"getToutdoor","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.AMBIANT_AIR_TEMP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":360,"wires":[["68052cb1.b9af64"]]},{"id":"68052cb1.b9af64","type":"ui_gauge","z":"be17a669.01aad","name":"Temp Outdoor","group":"aba098bc.8827d","order":5,"width":"5","height":"4","gtype":"gage","title":"Temp. Outdoor","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":360,"wires":[]},{"id":"f0b2012.6ab058","type":"change","z":"be17a669.01aad","name":"getTCoolant","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.COOLANT_TEMP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["bcad14d9.6a53b"]]},{"id":"bcad14d9.6a53b","type":"ui_gauge","z":"be17a669.01aad","name":"Temp Coolant","group":"aba098bc.8827d","order":4,"width":"5","height":"4","gtype":"gage","title":"Temp. Coolant","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":743,"y":299.933349609375,"wires":[]},{"id":"19590d2c.69e2c3","type":"change","z":"be17a669.01aad","name":"getPosAccel","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.relposacc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[["b1de1db8.1e546"]]},{"id":"b1de1db8.1e546","type":"ui_gauge","z":"be17a669.01aad","name":"Pos. accelerator","group":"aba098bc.8827d","order":3,"width":"5","height":"4","gtype":"gage","title":"Pos. Accelerator","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":240,"wires":[]},{"id":"bb1f453f.cdd62","type":"function","z":"be17a669.01aad","name":"LastMsgs","func":"d = new Date();\n\nmsg.payload = d.toLocaleTimeString();  \n\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":439.3500061035156,"wires":[["bd91ad9a.3832a"]]},{"id":"bd91ad9a.3832a","type":"ui_text","z":"be17a669.01aad","group":"aba098bc.8827d","order":6,"width":"5","height":"4","name":"Timestamp","label":"Last msg","format":"{{msg.payload}}","layout":"col-center","x":730,"y":440,"wires":[]},{"id":"c634d9c7.7ebaa8","type":"mqtt in","z":"be17a669.01aad","name":"owntracks","topic":"owntracks/#","qos":"1","broker":"4e8dfa32.1e76a4","x":141.5,"y":625.75,"wires":[["4b7ebe24.65a44"]]},{"id":"1049b646.847642","type":"debug","z":"be17a669.01aad","name":"","active":true,"console":"false","complete":"false","x":729,"y":956,"wires":[]},{"id":"4b7ebe24.65a44","type":"json","z":"be17a669.01aad","name":"","pretty":false,"x":344.5,"y":628.75,"wires":[["488822c0.012e6c","68cd3382.2524ac","60037082.f25288","a393a3cc.14605"]]},{"id":"f6dc1e50.4a75a8","type":"ui_text","z":"be17a669.01aad","group":"aba098bc.8827d","order":7,"width":"5","height":"4","name":"Lat","label":"Lat","format":"{{msg.payload}}","layout":"col-center","x":870,"y":640,"wires":[]},{"id":"488822c0.012e6c","type":"change","z":"be17a669.01aad","name":"gatLat","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":640,"wires":[["3014fd83.b37cf2"]]},{"id":"68cd3382.2524ac","type":"change","z":"be17a669.01aad","name":"getLon","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[["54cae4bc.68fb74"]]},{"id":"8e7b80de.f04a6","type":"ui_text","z":"be17a669.01aad","group":"aba098bc.8827d","order":8,"width":"5","height":"4","name":"Long","label":"Long","format":"{{msg.payload}}","layout":"col-center","x":870,"y":700,"wires":[]},{"id":"60037082.f25288","type":"change","z":"be17a669.01aad","name":"getAlt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":760,"wires":[["c6c1b022.f9566"]]},{"id":"c6c1b022.f9566","type":"ui_text","z":"be17a669.01aad","group":"aba098bc.8827d","order":9,"width":"5","height":"4","name":"Alt","label":"Altitude","format":"{{msg.payload}}","layout":"col-center","x":709.5,"y":762.5,"wires":[]},{"id":"3014fd83.b37cf2","type":"function","z":"be17a669.01aad","name":"format","func":"msg.payload = msg.payload.toFixed(4);\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":640,"wires":[["f6dc1e50.4a75a8"]]},{"id":"54cae4bc.68fb74","type":"function","z":"be17a669.01aad","name":"format","func":"msg.payload = msg.payload.toFixed(4);\n\nreturn msg;","outputs":1,"noerr":0,"x":688.5,"y":702.25,"wires":[["8e7b80de.f04a6"]]},{"id":"5f15d31d.86274c","type":"worldmap","z":"be17a669.01aad","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":723.5,"y":868.75,"wires":[]},{"id":"a393a3cc.14605","type":"function","z":"be17a669.01aad","name":"prepareMsg","func":"newMsg = {};\n\nvar currentdate = new Date(); \n\nvar mm = currentdate.getMonth() + 1;\n\nif(mm.toString().length == 1) \n{\n        mm = '0' + mm;\n}\n    \nvar dd = currentdate.getDate();\nvar hh = currentdate.getHours();\nvar mi = currentdate.getMinutes();\nvar ss = currentdate.getSeconds();\n\nvar datetime = currentdate.getFullYear() + \"-\"\n               + mm + \"-\"\n               + dd + \" \"\n                + hh + \":\"  \n                + mi + \":\" \n                + ss;\n                \nnewMsg.name = msg.topic;\nnewMsg.carid = \"0001\";\nnewMsg.dtime = datetime;\nnewMsg.lat = msg.payload.lat;\nnewMsg.lon = msg.payload.lon;\nnewMsg.icon = \"car\";\nnewMsg.iconColor = \"red\";\n\nmsg.payload = newMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":523.5,"y":868.25,"wires":[["5f15d31d.86274c","1049b646.847642"]]},{"id":"2f0f4adb.a2f106","type":"ui_chart","z":"be17a669.01aad","name":"","group":"aba098bc.8827d","order":10,"width":"12","height":"5","label":"Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"130","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff8a11","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":160,"wires":[[],[]]},{"id":"5451ee4c.dce1e","type":"ui_chart","z":"be17a669.01aad","name":"","group":"aba098bc.8827d","order":11,"width":"12","height":"5","label":"RPM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":80,"wires":[[],[]]},{"id":"4e8dfa32.1e76a4","type":"mqtt-broker","z":"","broker":"mqtt-broker","port":"1883","clientid":"node-dashboard-home","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"aba098bc.8827d","type":"ui_group","z":"","name":"Car data","tab":"2e5735e4.40363a","order":1,"disp":true,"width":"25"},{"id":"2e5735e4.40363a","type":"ui_tab","z":"","name":"OBDII","icon":"dashboard","order":2}]

